DATABASE_TYPE="postgres"
DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_NAME="coordinate"
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_SSL_MODE="disable"
DATABASE_MAX_OPEN_CONNECTION="0"
